h1{
  text-align:center;
  color: Blue;
  font-size: 250%;
}
h2{
  text-align:center;
  color: #0abab5;
  font-size: 180%;
}
p{
  text-align:center;
  font-family: "Arial";
  color: green;
  font-size: 100%
  tex-indent: 10px;

}

img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  width: 200px;
}
